.advantages {
	padding-bottom: 100px;
}

.item {
	width: 25%;
}

.wrap {
}

.list {
	display: flex;
	column-gap: 65px;
}

.icon {
	width: auto;
	height: 57px;
}

.advantages_subTitle {
	margin-top: 25px;
	font-family: var(--font-ubuntu);
	color: #2e2d2d;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	text-align: left;
	letter-spacing: 0.03em;
	width: 190px;
}

.text {
	margin-top: 20px;
	letter-spacing: 0.05em;
}
