.comment {
	display: flex;
	color: #fff;
	margin-top: 90px;
	padding: 0px 65px;
	gap: 50px;
}

.comment_wrap {
	flex-direction: column;
	text-align: left;
}

.clientname {
	font-family: var(--font-ubuntu);
	margin-bottom: 20px;
	font-weight: 700;
	color: #eec42d;
	font-size: 15px;
	line-height: 17px;
}

.text {
	line-height: 21px;
	letter-spacing: 0.04em;
	margin-bottom: 15px;
}

.date_time {
	display: block;
	padding-right: 10px;
	opacity: 0.7;
	text-align: right;
	color: #ccc;
}

.swiper.swiper-button-prev {
	color: red;
}

/*   -------Pagination ------------ */

.swiper .swiper-pagination-bullet-active {
	background: #f00;
}

.wrapper-start {
	display: block;
	width: 500px;
	background-color: red;
}
